<form id="update-post">
  <div class="input-group-lg w-100">
    <input
      id="update-title"
      class="form-control"
      type="text"
      placeholder="{{post.title}}"
    />
  </div>
  <div class="input-group w-100">
    <input
      id="update-text"
      class="form-control"
      type="text"
      placeholder="{{post.text}}"
    />
  </div>
  <button type="submit" class="btn btn-primary">UPDATE</button>
  <button id="delete-btn" type="click" class="btn btn-primary">DELETE</button>
</form>