<form id="login-form">
  <div>
    <label for="email" class="form-label">Email address</label>
    <input class="form-control" type="email" id="email" />
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input class="form-control" type="password" id="password" />
    </div>
    <div id="emailHelp" class="form-text">We'll never share your information
      with anyone else.</div>
  </div>
  <button type="submit">Submit</button>
  <a href="/signup">Sign up instead</a>
</form>

<script src="./js/login.js"></script>